* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nav-bar {
	display: flex;
	border: 1px solid green;
	/* margin: 10px 30px; */
	justify-content: space-around;
	background-color: rgb(187, 25, 25);
	height: 80px;
	align-items: center;
}
.navs {
	display: flex;
	justify-content: spac;
	
}
.navs ul {
	display: flex;
	list-style: none;
	gap: 20px;
}
.navs ul li a{
	text-decoration: none;
	font-weight: 100;
	font-size: 1.2em;

}
/* .header .img-1,img {
	position: fixed;
} */

.header {
	
}
