* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.logo {
	color: bisque;
}

.nav-bar {
	display: flex;
	border: 1px solid green;
	/* margin: 10px 30px; */
	justify-content: space-around;
	background-color: rgb(187, 25, 25);
	height: 80px;
	align-items: center;
}

.navs {
	display: flex;
	justify-content: spac;

}

.navs ul {
	display: flex;
	list-style: none;
	gap: 20px;
}

.navs ul li a {
	text-decoration: none;
	font-weight: 100;
	font-size: 1.2em;
	color: #fff;

}

.header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/image.jpg");
	/* background-repeat: no-repeat; */
	background-size: auto, cover;
	background-position: 0px 0px, 50% 50%;
	min-height: 500px;
	/* z-index: 1; */
	position: relative;
	display: flex;
}

h2 {
	font-size: 28px;
}

.text {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-family: 'sans';
	margin-left: 15%;
}

button.btn-shop {
	width: 110px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: transparent;
	border: solid 2px #fff;
	color: #fff;

}

button.btn-shop:hover {
	background-color: #3e7b8e
}
